<%- include("../includes/header.ejs", {title:"Add New Skill"}); %>
<h1>Add New Team</h1>
<form action="/team/insert" method="get">
    Team Name: <input id="team_name" name="team_name" type="text" />
    <br />
    League Name (example: NALCS, LCS, etc.): <input id="league_name" name="league_name" type="text" />
    <br />
    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>