<%- include("../includes/header.ejs", {title: "About"}); %>
<h1>About</h1>

<br>
This website was made to show information about the League of Legends World Championships that took place in 2017.
Information was gathered from the official Riot Games League of Legends World Championship website and compiled into a
database which was used to populate this website. Included below are links to some of the components that went into
designing the database that was used.
<br />
<br />
In addition, added functionality has been added so that users can store their own game information. See how your
performance matches up with the pros. You cannot delete or edit pro player information, but you can edit or delete yours.
<br />
<br />
<a href=”/images/ERD.png”> My ER Diagram</a>
<br />
<a href="/images/RS.png"> My Relational Schema</a>
<br />
<a href="/about/requirements"> Requirements Fulfilled</a>

<%- include("../includes/footer.ejs"); %>